body.done {
  filter: grayscale(100%) blur(5px);
}

.sources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

task-source {
  margin: auto;
}
task-queues, node-queues {
  max-height: 50vmin;
  width: 100%;
  position: relative;
}

node-queues {
  padding-top: 25vh;
}
