body {
  --background-start: #4517ed;
  --background-end: #291c59;
  --subtle: #ccf;
  color: white;
  display: flex;
  background: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  height: 100vh;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  word-wrap: break-word; 
  font-size: 5em;
  text-shadow: 4px 4px var(--background-start);
}

h2 {
  font-size: 3em;
}

a {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: inherit;
  color: white;
}

.list-container {
  display: flex;
}

ul {
  list-style: square;
  font-size: 2em;
  margin: auto;
  text-align: left;
}
li {
  margin-bottom: 1em;
}

pre code {
  font-size: 3em;
  text-align: left;
}

pre code.hljs {
  background-color: transparent;
}

img.border, img.full-page {
  border: 2px solid white; 
  box-shadow: 4px 4px 16px 4px rgba(255, 255, 255, 30%);  
}
img.full-page {
  width: 100vmin;
}

.text {
  font-size: 4em;
}

.fancy {
  font-family: cursive;
  font-size: 5em;
}

svg.title {
  transform: rotate(.5turn);
  transform-origin: bottom;
  animation: spin 3s ease-out forwards;
  width: 80%;
  fill: var(--subtle); 
}

@keyframes spin {
  to { transform: rotate(1turn) }
}

.mask {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.twitter {
  position: fixed;
  right: 5vw;
  bottom: 0;
  color: var(--subtle);
  font-size: 2em;
}

.statement {
  font-size: 3.5em;
}

.area {
  border: 1px solid black;
  background: white;
  color: black;
  padding: 10px;
  box-sizing: border-box;
}
.area > div:first {
  font-size: 1.2em;
}
.area:hover {
  border: 2px solid red;
  transform: scale(1.2);
}

.task {
  font-family: 'Courier New', Courier, monospace;
  background: gold;
  padding: 10px;
  margin-top: 5px;
}

.demo-link {
  position: fixed; 
  right: 1em; 
  bottom: 0; 
  color: rgba(206, 190, 190, 0.3); 
  font-size: 2.5rem;
}

.loading-dots {
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  margin-left: -1vw;
  animation: add-dots 2s infinite forwards steps(1, end);
  background-color: transparent;
  transform: translateX(-5vw);
}

@keyframes add-dots {
  from { box-shadow: none; }
  16% { box-shadow: 5vw 0 0 0 white;  }
  33% { 
    box-shadow: 5vw 0 0 0 white,
    10vw 0 0 0 white;
  }
  50% {
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white,
                15vw 0 0 0 white;
  }
  66% {
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white,
                15vw 0 0 0 white,
                20vw 0 0 0 white;
  }
  82% {
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white,
                15vw 0 0 0 white,
                20vw 0 0 0 white,
                25vw 0 0 0 white;
  }
}


.notes {
  display: none;
}

