body {
  --background-end: #8ca9d8;
  --background-start: #626f91;
  --subtle: rgb(224, 224, 241);
  color: white;
  display: flex;
  background: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  height: 100vh;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  word-wrap: break-word; 
  font-size: 5em;
  text-shadow: 4px 4px var(--background-start);
}

h2 {
  font-size: 3em;
}

a {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: inherit;
  color: white;
}

.heading {
  font-size: 3em;
}

.list-container {
  display: flex;
}

ul {
  list-style: square;
  font-size: 2em;
  margin: auto;
  text-align: left;
}
li {
  margin-bottom: 1em;
}

pre code {
  font-size: 2em;
  text-align: left;
}

pre code.hljs {
  background-color: transparent;
}

img.border, img.full-page {
  border: 2px solid white; 
  box-shadow: 4px 4px 16px 4px var(--background-start);
}
img.full-page {
  width: 90vmin;
}

.text {
  font-size: 4em;
}

.fancy {
  font-family: cursive;
  font-size: 5em;
}

svg.title {
  transform: rotate(.5turn);
  transform-origin: bottom;
  animation: spin 3s ease-out forwards;
  width: 80%;
  fill: var(--subtle); 
}

@keyframes spin {
  to { transform: rotate(1turn) }
}

.mask {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.twitter {
  position: fixed;
  right: 5vw;
  bottom: 0;
  color: var(--subtle);
  font-size: 2em;
}

.browser-list {
  display: flex; 
  height: 10vh;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  justify-content: space-between;
}
.browser-list img {
  align-self: center;
  max-height: 100%;
}
.browser-list img, .logo {
  filter: drop-shadow(2px 2px 4px var(--background-start));
}

.area {
  border: 1px solid black;
  background: white;
  color: black;
  padding: 10px;
  box-sizing: border-box;
}
.area > div:first {
  font-size: 1.2em;
}
.area:hover {
  border: 2px solid red;
  transform: scale(1.2);
}

.task {
  font-family: 'Courier New', Courier, monospace;
  background: gold;
  padding: 10px;
  margin-top: 5px;
}

.demo-link {
  position: fixed; 
  right: 1em; 
  bottom: 0; 
  color: rgba(206, 190, 190, 0.3); 
  font-size: 2.5rem;
}

.loading-dots {
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  margin-left: -1vw;
  animation: add-dots 4s infinite forwards steps(1, end);
  background-color: transparent;
  transform: translateX(-5vw);
}

@keyframes add-dots {
  from { box-shadow: none; }
  9% { box-shadow: 5vw 0 0 0 white;  }
  18% { 
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white;
  }
  27% {
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white,
                15vw 0 0 0 white;
  }
  36% {
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white,
                15vw 0 0 0 white,
                20vw 0 0 0 white;
  }
  45% {
    box-shadow: 5vw 0 0 0 white,
                10vw 0 0 0 white,
                15vw 0 0 0 white,
                20vw 0 0 0 white,
                25vw 0 0 0 white;
  }
  54% {
    box-shadow: none;
  }
  63% {
    box-shadow: 25vw 0 0 0 white;
  }
  72% {
    box-shadow: 20vw 0 0 0 white,
                25vw 0 0 0 white;  
  }
  81% {
    box-shadow: 15vw 0 0 0 white,
                20vw 0 0 0 white,
                25vw 0 0 0 white;
  }
  90% {
    box-shadow: 10vw 0 0 0 white,
                15vw 0 0 0 white,
                20vw 0 0 0 white,
                25vw 0 0 0 white;
  }
  100% {
    box-shadow: none;
  }
}

.frosted::before, .glastonbury::before, .microtasks::before, .gallop::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-size: 100vw 100vh;
  background-position: center;
  z-index: -1;
  filter: blur(15px);
}

.frosted::before {
  background-image: url('roller-coaster.jpg');
  margin: -20px;
}
.glastonbury::before {
  background: url('glastonbury.jpg');
  margin: -10px;
}
.microtasks::before {
  background: url('tiny-horse.jpg');
  margin: -10px;
}
.gallop::before {
  background: url('gallop.jpg');
  margin: -10px;
}

.frosted, .glastonbury {
  font-weight: bold;
  position: relative;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .2);
}

.microtasks {
  text-align: left;
  display: inline;
  position: relative;
  left: -2.5em;
  top: -.5em;
  font-size: 4em;
}

.frosted {
  color: var(--background-start);
  font-size: 3em;
  box-shadow: 4px 4px 16px 4px rgba(32, 79, 104, .5); 
}

.gallop {
  text-shadow: 1px 1px black;
}


.notes {
  display: none;
}

.variable-name {
  color: #a6e22e;
}


