<template id="event-loop">
  <slot></slot>
  <style>
    :host {
      width: 960px;
      height: 700px;
      padding: 50px;
      padding-bottom: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      transform-origin: center;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</template>
<script>
  const eventLoopDocument = document.currentScript.ownerDocument;

  const width = 960;
  const height = 700;

  class EventLoop extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'open' });
      const content = eventLoopDocument.getElementById('event-loop').content.cloneNode(true);
      this.shadow.appendChild(content);
    }

    connectedCallback() {
      this.queues = document.querySelector('task-queues, node-queues');
      document.querySelector('body').addEventListener('task', event => this.queues.addTask(event.detail));
    }

    startTimer() {
      this.queues.startTimer();
    }

    addTask(taskType) {
      this.queues.addTask(taskType);
    }

    setScale(scale) {
      this.style.transform = `translate(-50%, calc(-50% - 8px)) scale(${scale})`;
    }
  }
  customElements.define('event-loop', EventLoop);
</script>
 