<template id="node-selector">
  <style>
    :host {
      display: flex;
      position: absolute;
      transition: left .3s;
      width: var(--queue-width);
      bottom: calc(-1 * var(--queue-width));
    }
    .loop {
      margin: auto;
      width: 100%;
      height: 100%;
      animation: spin 1s .3s linear infinite;
      animation-play-state: paused;
    }

    @keyframes spin {
      to { transform: rotate(-1turn); }
    }
  </style>
  <img class="loop" src="css/circular-arrow.svg" />
</template>
<script>
  const nodeSelectorDocument = document.currentScript.ownerDocument;
  class NodeQueueSelector extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'closed' });
      const content = nodeSelectorDocument.getElementById('node-selector').content.cloneNode(true);
      this.shadow.appendChild(content);

      this.loop = this.shadow.querySelector('.loop');
      this.animationQueue = document.querySelector('task-queue[type="animation"]');

      this.timersQueue = document.querySelector('task-queue[type="timer"]');
      this.immediateQueue = document.querySelector('task-queue[type="immediate"]');
      this.eventsQueue = document.querySelector('task-queue:not([type])');
      this.microtaskQueue = document.querySelector('task-queue[type="microtask"]');
      this.nextTickQueue = document.querySelector('task-queue[type="next-tick"]');

      document.body.addEventListener('click', () => {
        this.doLoop();
      }, { once: true });
    }

    async doLoop() {
      await this.doMicrotaskCheck();
      await this.waitForEvents();
      await this.runPhase(this.eventsQueue);
      await this.runPhase(this.immediateQueue);
      await this.runPhase(this.timersQueue);

      if (this.eventsWaiting) {
        this.doLoop();
      } else {
        document.body.classList.add('done');
      }
    }

    waitForEvents() {
      const endTime = Date.now() + 5000;
      return new Promise((resolve) => {
        this.checkEvents(resolve, endTime);
      });
    }

    checkEvents(resolve, endTime) {
      if (this.eventsQueue.hasTasks()) {
        resolve(true);
      } else if (Date.now() > endTime) {
        resolve(false);
      } else {
        setTimeout(() => this.checkEvents(resolve, endTime), 2000);
      }
    }

    async runPhase(queue) {
      while(queue && queue.hasTasks()) {
        await this.doTask(queue);
        await this.doMicrotaskCheck();
      }
    }

    async doMicrotaskCheck() {
      while (this.nextTickQueue && this.nextTickQueue.hasTasks()) {
        await this.doTask(this.nextTickQueue);
      }
      while (this.microtaskQueue.hasTasks()) {
        await this.doTask(this.microtaskQueue);
      }
      if (this.microtaskQueue.hasTasks() || (this.nextTickQueue && this.nextTickQueue.hasTasks())) {
        await this.doMicrotaskCheck();
      }
    }

    async doTask(queue) {
      this.moveToQueue(queue);
      this.spin();
      await queue.runTask();
      this.spin(false);
    }

    get eventsWaiting() {
      return this.tasksRunning || this.queuesWaiting;
    }
    get tasksRunning() {
      return Array.from(document.querySelectorAll('task-source')).some(source => source.hasTasksWaiting());
    }
    get queuesWaiting() {
      return Array.from(document.querySelectorAll('task-queue')).some(queue => queue.hasTasks());
    }

    moveToQueue(queue) {
      const container = document.querySelector('node-queues');
      const containerLeft = container.getBoundingClientRect().left;
      const queueLeft = queue.getBoundingClientRect().left;

      const leftDistance = queueLeft - containerLeft;
      this.style.left = `${leftDistance + 16}px`; 
    }

    spin(run = true) {
      this.loop.style.animationPlayState = run ? 'running' : 'paused';
    }


  }
  customElements.define('node-queue-selector', NodeQueueSelector);
</script>