<template id="queue">
  <style>
    :host {
      display: block;
      width: 80px;
      height: 4vw;
      position: relative;
      border: 4px solid orange;
      border-top-color: transparent;
      align-self: flex-end;
    }
    :host::before, :host::after {
      content: '';
      width: 2vw;
      height: 2vw;
      display: block;
      border: 4px solid orange;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: rotate(.125turn);
      position: absolute;
      bottom: calc(100% - 1vw - 4px);
    }
    :host::before {
      right: 100%;
    }
    :host::after {
      left: 100%;
    }
    .task {
      width: 60px;
      height: 80px;
      background-color: white;
      border: 2px solid black;
      flex-shrink: 0;
      display: flex;
      transition: left .5s linear, bottom .5s linear, height 3s linear;
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
    .task::before {
      margin: auto;
      content: '{}';
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      overflow: hidden;
      font-size: 2em;
      color: black;
    }

    .task.browser {
      background-color: hsl(215, 80%, 80%);
    }
    .task.timer {
      background-color: hsl(350, 80%, 80%);
    }
    .task.network {
      background-color: hsl(100, 80%, 80%);
    }
    .task.drive {
      background-color: hsl(40, 80%, 80%);
    }
  </style>
  <div class="tasks"></div>
</template>
<script>
  const queueDocument = document.currentScript.ownerDocument;
  class TaskQueue extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'closed' });
      const content = queueDocument.getElementById('queue').content.cloneNode(true);
      this.shadow.appendChild(content);

      this.tasks = this.shadow.querySelector('.tasks');

      const typeAttribute = this.attributes.type;
      this.type = typeAttribute ? typeAttribute.value : 'default';

      this.addEventListener('do-task', this.runTask);
    }
    
    addTask(taskType) {
      const task = document.createElement('div');
      task.classList.add('task');
      task.classList.add(taskType);

      const index = this.getTasks().length;
      this.positionTask(task, index);

      this.tasks.appendChild(task);
    }

    getTasks() {
      return this.shadow.querySelectorAll('.task');
    }
    getTask(index) {
      return this.getTasks()[index];
    }

    runTask() {
      let resolveTask;
      const taskPromise = new Promise(resolve => resolveTask = resolve);

      const firstTask = this.getTask(0);
      if (firstTask) {
        const duration = this.getRandomTime();
        firstTask.style.transitionDuration = `.5s, .5s, ${duration}s`;
        firstTask.style.height = 0;
      }

      firstTask.addEventListener('transitionend', (event) => {
        if (event.propertyName === 'height') {
          firstTask.remove();
          this.redrawTasks();
          resolveTask();
        }
      });

      return taskPromise;
    }

    redrawTasks() {
      const tasks = this.getTasks();
      tasks.forEach(this.positionTask);
    }

    positionTask(task, index) {
      task.style.right = `${index * 5}px`;
      task.style.bottom = `${index * 5}px`;
      task.style.zIndex = index * -1;			
    }

    getRandomTime() {
      return Math.random() * 6 + 2;
    }

  }
  customElements.define('task-queue', TaskQueue);
</script>

