<template id="selector">
  <style>
    :host {
      display: flex;
      position: fixed;
      transition: left .3s;
    }
    .loop {
      margin: auto;
      width: 100%;
      height: 100%;
      animation: spin 1s .3s linear infinite;
      animation-play-state: paused;
    }

    @keyframes spin {
      to { transform: rotate(-1turn); }
    }
    
  </style>
  <img class="loop" src="css/circular-arrow.svg" />
</template>
<script>
  const selectorDocument = document.currentScript.ownerDocument;
  class QueueSelector extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'closed' });
      const content = selectorDocument.getElementById('selector').content.cloneNode(true);
      this.shadow.appendChild(content);

      this.loop = this.shadow.querySelector('.loop');

      setTimeout(() => this.pickQueue(), 500);
    }

    connectedCallback() {
      const diameter = this.previousElementSibling.clientWidth * 0.5;
      this.style.width = `${diameter}px`;
      this.style.height = `${diameter}px`;

      const firstQueueRect = document.querySelector('task-queue').getBoundingClientRect();
      const bottom = firstQueueRect.bottom;
      this.style.top = `${bottom}px`;

      setInterval(() => { this.readyToPaint = true }, 10000);
    }

    async pickQueue() {
      const queue = this.getNextQueue();
      if (queue) {
        this.moveToQueue(queue);
        this.spin();
        await queue.runTask();
        this.spin(false);
        this.pickQueue();
      } else {
        await this.wait();
        this.pickQueue();
      }
    }

    getNextQueue() {
      if (this.readyToPaint && this.repaint) {
        this.readyToPaint = false;
        this.repaint = false;
        return this.parentNode.querySelector('rendering-pipeline');
      } else {
        const taskQueue = document.querySelector('task-queue');
        if (taskQueue.getTask(0)) {
          this.repaint = true;
          return taskQueue;
        }
      }
    }

    moveToQueue(queue) {
      const queueRect = queue.getBoundingClientRect();
      const loopRect = this.getBoundingClientRect();

      const margin = (queueRect.width - loopRect.width) / 2;
      const left = queueRect.left + margin;
      this.style.left = `${left}px`;
    }

    spin(run = true) {
      this.loop.style.animationPlayState = run ? 'running' : 'paused';
    }

    wait() {
      return new Promise(resolve => setTimeout(resolve, 1000));
    }
  }
  customElements.define('queue-selector', QueueSelector);
</script>