<template id="queue">
  <style>
    :host {
      display: block;
      width: var(--queue-width);
      height: calc(var(--queue-width) * .5);
      position: relative;
      border: 16px solid var(--container-colour);
      border-top-color: transparent;
      align-self: flex-end;
    }
    :host::before, :host::after {
      content: '';
      --curl-width: calc(var(--queue-width) / 4);
      width: var(--curl-width);
      height: var(--curl-width);
      display: block;
      border: 16px solid var(--container-colour);
      border-radius: 50%;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: translateY(16px) rotate(.125turn);
      position: absolute;
      bottom: calc(100% - 1vw - 4px);
    }
    :host::before {
      right: 100%;
    }
    :host::after {
      left: 100%;
    }

    .task {
      width: calc(var(--queue-width) * .8);
      height: var(--queue-width);
      background-color: white;
      border: 4px solid black;
      flex-shrink: 0;
      display: flex;
      transition: left .5s linear, bottom .5s linear, height 3s linear;
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      color: black;
    }
    .task::before {
      margin: auto;
      content: '{}';
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      overflow: hidden;
      font-size: 3em;
    }

    .task.browser {
      background-color: hsl(215, 80%, 80%);
    }
    .task.timer {
      background-color: hsl(350, 80%, 80%);
    }
    .task.network {
      background-color: hsl(100, 80%, 80%);
    }
    .task.drive {
      background-color: hsl(40, 80%, 80%);
    }
    .task.microtask {
      background-color: #f7df1e;
    }
    .task.next-tick {
      color: white;
      border-color: white;
      background-color: red;
    }
    .task.necessary {
      background-color: rgb(var(--green));
    }
    .task.unnecessary {
      border-color: #aaa;
    }

    .task.animation {
      height: 60px;
      background-image: url('css/cat.png');
      background-size: cover;
    }
    .task.animation::before {
      content: '';
    }
  </style>
  <div class="tasks"></div>
</template>
<script>
  const queueDocument = document.currentScript.ownerDocument;
  class TaskQueue extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'closed' });
      const content = queueDocument.getElementById('queue').content.cloneNode(true);
      this.shadow.appendChild(content);

      this.tasks = this.shadow.querySelector('.tasks');

      const typeAttribute = this.attributes.type;
      this.type = typeAttribute ? typeAttribute.value : 'default';

      const colour = this.getColour(this.type);
      this.style.setProperty('--container-colour', colour);

      const shadowColour = this.getShadowColour(this.type);
      this.style.setProperty('--shadow-colour', shadowColour);

      this.addEventListener('do-task', this.runTask);
    }

    getColour(queueType) {
      switch (queueType) {
        case 'microtask': return '#f7df1e';
        case 'next-tick': return 'green';
        case 'animation': return '#28a828';
        default: return 'orange';
      }
    }

    getShadowColour(queueType) {
      if (queueType === 'animation' || queueType === 'next-tick') {
        return '#006000';
      }

      return '#93510b';
    }

    addTask(taskType) {
      const task = document.createElement('div');
      task.classList.add('task');
      task.classList.add(taskType);

      const index = this.getTasks().length;
      this.positionTask(task, index);

      this.tasks.appendChild(task);
    }

    getTasks() {
      return this.shadow.querySelectorAll('.task');
    }
    getTask(index) {
      return this.getTasks()[index];
    }
    hasTasks() {
      return this.getTasks().length;
    }

    async runTask(time) {
      if (this.type === 'animation') {
        return this.runAnimationTasks();
      }

      const firstTask = this.getTask(0);
      if (firstTask) {
        let duration = time || this.getRandomTime();
        if (firstTask.classList.contains('repeating')) {
          this.addTask('repeating');
          duration = 2;
        }
        await this.startTask(firstTask, duration);
      }
    }

    startTask(task, duration) {
      let resolveTask;
      const taskPromise = new Promise(resolve => resolveTask = resolve);

      task.style.transitionDuration = `.5s, .5s, ${duration}s`;
      task.style.height = 0;

      task.addEventListener('transitionend', (event) => {
        if (event.propertyName === 'height') {
          task.remove();
          this.redrawTasks();
          resolveTask();
        }
      })

      return taskPromise;
    }

    async runAnimationTasks() {
      const animationSource = document.querySelector('task-source[type="animation"]');
      animationSource.run();
      const currentTasks = this.getTasks();
      currentTasks.forEach(task => task.style.borderColor = 'white');
      for (let task of currentTasks) {
        await this.startTask(task);
      }
      animationSource.stop();
    }

    redrawTasks() {
      const tasks = this.getTasks();
      tasks.forEach(this.positionTask);
    }

    positionTask(task, index) {
      task.style.right = `${index * 8}px`;
      task.style.bottom = `${index * 8}px`;
      task.style.zIndex = index * -1;			
    }

    getRandomTime() {
      return Math.random() * 4 + 2;
    }

  }
  customElements.define('task-queue', TaskQueue);
</script>

