<template id="queues">
  <style>
    :host {
      display: flex;
      justify-content: space-around;
      position: relative;
      --queue-width: 100px;
      margin: 0 auto;
      min-height: calc(var(--queue-width * 2));
    }
    rendering-pipeline {
      max-width: 25%;
      margin: 0 3vw;
      padding-top: 5vh;
    }
    rendering-pipeline.no {
      display: none;
    }
  </style>
  <slot id="queues"></slot>
  <rendering-pipeline></rendering-pipeline>
  <queue-selector></queue-selector>
</template>
<script>
  const queuesDocument = document.currentScript.ownerDocument;
  class Queues extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'open' });
      const content = queuesDocument.getElementById('queues').content.cloneNode(true);
      this.shadow.appendChild(content);
    }

    connectedCallback() {
      this.selector = this.shadow.querySelector('queue-selector');
      this.pipeline = this.shadow.querySelector('rendering-pipeline');
      this.queues = this.querySelectorAll('task-queue');

      const rendering = this.getAttribute('rendering');
      this.pipeline.rendering = rendering === 'false' ? false : true;
      if (!this.pipeline.rendering) {
        this.pipeline.classList.add('no');
      }

    }

    startTimer() {
      this.pipeline.timerCount();
      this.selector.startTimer();
    }

    addTask(taskType) {
      if (this.pipeline.startTimer && !this.pipeline.interval) {
        this.pipeline.startTimer();
      }
      const queue = this.findQueue(taskType);      
      queue.addTask(taskType);
    }

    findQueue(type) {
      let defaultQueue;

      for (let queue of this.queues) {
        if (queue.type === type) {
          return queue;
        }
        if (queue.type === 'default') {
          defaultQueue = queue;
        }
      }

      return defaultQueue;
    }

  }
  customElements.define('task-queues', Queues);
</script>