<template id="queues">
  <style>
    :host {
      display: flex;
    }
    rendering-pipeline, queue-selector {
      max-width: 20vw;
      margin: 3vw;
      margin-bottom: 0;
    }
  </style>
  <slot id="queues"></slot>
  <rendering-pipeline></rendering-pipeline>
  <queue-selector></queue-selector>
</template>
<script>
  const queuesDocument = document.currentScript.ownerDocument;
  class Queues extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'open' });
      const content = queuesDocument.getElementById('queues').content.cloneNode(true);
      this.shadow.appendChild(content);
    }

    connectedCallback() {
      this.selector = this.shadow.querySelector('queue-selector');
      this.pipeline = this.shadow.querySelector('rendering-pipeline');
      this.queues = this.querySelectorAll('task-queue');
    }

    addTask(taskType) {
      this.queues[0].addTask();
    }

  }
  customElements.define('task-queues', Queues);
</script>