<template id="pipeline">
  <style>
    :host {
      display: flex;
      flex-direction: column;
    }
    
    browser-window {
      height: 200px;
      width: 75%;
      margin: auto;
      margin-bottom: 5px;
      z-index: -1;
    }

    browser-window.go {
      transition: transform 2s linear;
      transform: translateY(210px);
    }
  </style>
  <browser-window>
    <button>CLICK ME</button>
  </browser-window>
  <img class="pipe" src="css/Mario_pipe.png" />
</template>
<script>
  const pipelineDocument = document.currentScript.ownerDocument;
  class RenderingPipeline extends HTMLElement {
    constructor() {
      super();

      this.shadow = this.attachShadow({ mode: 'open' });
      const content = pipelineDocument.getElementById('pipeline').content.cloneNode(true);
      this.shadow.appendChild(content);

      this.browser = this.shadow.querySelector('browser-window');
    }

    runTask() {
      let resolveTask;
      const taskPromise = new Promise(resolve => resolveTask = resolve);

      this.browser.addEventListener('transitionend', () => {
        resolveTask();
      });

      requestAnimationFrame(() => {
        this.browser.classList.remove('go');

        requestAnimationFrame(() => {
          this.browser.classList.add('go')
        });
      });

      return taskPromise;
    }
  }
  customElements.define('rendering-pipeline', RenderingPipeline);
</script>

